// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "breakpoints.json";

$mdc-layout-grid-breakpoints: (
  desk1920: map-get($breakpoints, desk1920),
  desk1600: map-get($breakpoints, desk1600),
  desk1440: map-get($breakpoints, desk1440),
  desk1280: map-get($breakpoints, desk1280),
  desk1024: map-get($breakpoints, desk1024),
  tab864: map-get($breakpoints, tab864),
  pho480: map-get($breakpoints, pho480),
  phone: map-get($breakpoints, phone)
) !default;

$mdc-layout-grid-columns: (
  desk1920: 12,
  desk1600: 12,
  desk1440: 12,
  desk1280: 12,
  desk1024: 12,
  tab864: 12,
  pho480: 8,
  phone: 4
) !default;

$mdc-layout-grid-default-margin: (
  desk1920: 24px,
  desk1600: 24px,
  desk1440: 24px,
  desk1280: 24px,
  desk1024: 24px,
  tab864: 16px,
  pho480: 8px,
  phone: 8px
) !default;

$mdc-layout-grid-default-gutter: (
  desk1920: 24px,
  desk1600: 24px,
  desk1440: 24px,
  desk1280: 24px,
  desk1024: 24px,
  tab864: 16px,
  pho480: 8px,
  phone: 8px
) !default;

$mdc-layout-grid-column-width: (
  desk1920: 72px,
  desk1600: 72px,
  desk1440: 72px,
  desk1280: 72px,
  desk1024: 72px,
  tab864: 72px,
  pho480: 72px,
  phone: 72px
) !default;

$mdc-layout-grid-default-column-span: 4 !default;

$mdc-layout-grid-max-width: null !default;
