# Turn rewriting on
Options +FollowSymLinks
RewriteEngine On

# DEV Redirect requests to index.html
RewriteCond %{REQUEST_URI} !=/infinity-spine/public/index.html
RewriteCond %{REQUEST_URI} !.*\.css$ [NC]
RewriteCond %{REQUEST_URI} !.*\.woff$ [NC]
RewriteCond %{REQUEST_URI} !.*\.png$ [NC]
RewriteCond %{REQUEST_URI} !.*\.pdf$ [NC]
RewriteCond %{REQUEST_URI} !.*\.jpg$ [NC]
RewriteCond %{REQUEST_URI} !.*\.js$ [NC]
RewriteCond %{REQUEST_URI} !.*\.html$ [NC]
RewriteRule ^(.*)$ /infinity-spine/public/index.html [L]

#RewriteCond %{REQUEST_URI} !=/index.html
#RewriteCond %{REQUEST_URI} !.*\.css$ [NC]
#RewriteCond %{REQUEST_URI} !.*\.woff$ [NC]
#RewriteCond %{REQUEST_URI} !.*\.png$ [NC]
#RewriteCond %{REQUEST_URI} !.*\.pdf$ [NC]
#RewriteCond %{REQUEST_URI} !.*\.jpg$ [NC]
#RewriteCond %{REQUEST_URI} !.*\.js$ [NC]
#RewriteCond %{REQUEST_URI} !.*\.html$ [NC]
#RewriteRule ^(.*)$ /index.html [L]