// main color pallet
$BLUE_DARK: #2c3384;
$BLUE_MEDIUM: #3658a8;
$BLUE_LIGHT: #00aeef;
$GREY_LIGHT: #cbcaca;
$TRANSPARENT_WHITE: rgba(255,255,255,.5);

// background colors
$mdc-theme-primary: #2c3384;
$mdc-theme-secondary: #3658a8;
$mdc-theme-surface: #2c3384;
$mdc-theme-background: red;

// text colors
$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #fff;
$mdc-theme-on-surface: #fff;

$mdc-theme-text-primary-on-background: #fff;
$mdc-theme-text-secondary-on-background: #fff;
$mdc-theme-text-hint-on-background: #fff;
$mdc-theme-text-disabled-on-background: #fff;
$mdc-theme-text-icon-on-background: #fff;

$mdc-theme-text-primary-on-light: red;
$mdc-theme-text-secondary-on-light: #000;
$mdc-theme-text-hint-on-light: #000;
$mdc-theme-text-disabled-on-light: #000;
$mdc-theme-text-icon-on-light: #000;

$mdc-theme-text-primary-on-dark: #fff;
$mdc-theme-text-secondary-on-dark: #fff;
$mdc-theme-text-hint-on-dark: #fff;
$mdc-theme-text-disabled-on-dark: #fff;
$mdc-theme-text-icon-on-dark: #fff;
