<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- <link rel="stylesheet" href="css/infinity.css"> -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" /> -->
  <%= htmlWebpackPlugin.options.styles %>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  
  <div class="header mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="header__logo mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <img alt="infinity-spine" src="img/logo.png" />
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 flex">
        <div class="main-nav">
          <button class="main-nav__home mdc-button">home</button>
          <hr class="vertical-rule" />
          <button class="main-nav__about mdc-button">about</button>
          <hr class="vertical-rule" />
          <button class="main-nav__treatments mdc-button">treatments</button>
          <hr class="vertical-rule" />
          <button class="main-nav__testimonials mdc-button">testimonials</button>
          <hr class="vertical-rule" />
          <button class="main-nav__blog mdc-button">blog</button>
          <hr class="vertical-rule" />
          <button class="main-nav__contact mdc-button">contact</button>
        </div>
      </div>
    </div>
  </div>
  <div class="no-margin mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="splash mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="splash__images">
          <img alt="back-pain" src="img/back-pain-01.jpg" />
        </div>
        <div class="splash-content">
          <div class="mdc-card">
              The decisions you make about your health,
              will be some of the most important
              choices you make in your life!
          </div>
          <button class="new-patient mdc-fab mdc-fab--extended" aria-label="new patient">
              <i class="fab fa-pagelines"></i>&nbsp
              <span class="mdc-fab__label">New Patient Form</span>
          </button>
          <div class="splash-content__social">
            <button class="social mdc-fab">
              <i class="fab fa-facebook-square"></i>
            </button>
            <button class="social mdc-fab">
              <i class="fab fa-instagram"></i>
            </button>
            <button class="social mdc-fab">
              <i class="fab fa-twitter-square"></i>
            </button>
            <button class="social mdc-fab">
              <i class="fas fa-blog"></i>
            </button>
            <button class="social mdc-fab">
              <i class="fas fa-at fa-lg"></i>
            </button>
          </div>
          <button class="mobile-call">
            <i class="fas fa-mobile-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="call-to-action mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="call-to-action__copy">
          <h1>Call today for your personal consultation 480.656.6200</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="selling-points mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
        <div class="selling-points__img">
          <img src="img/runners.png" alt="sport specific treatments" width="260" />
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
        <div class="selling-points__copy">
          <h2>Gentle, Specific, Scientific Chriopractic</h2>
          At Infinity Spine Center, Scottsdale Chiropractor Dr. Thoma is committed to<br />
          providing NUCCA Chiropractic Care and auto accident care. NUCCA Chiropractic<br />
          is a gentle, specific, and scientific based chiropractic treatment for<br />
          misalignment of the upper cervical spine. Dr. Thoma is the only NUCCA Chiropractic<br />
          member practicing in Scottsdale.
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
        <div class="selling-points__img">
          <img src="img/scoliosis.png" alt="injury specific treatments" width="260" />
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
        In addition to chiropractic, therapies include acupuncture, dry needling, corrective<br />
        movement therapy, red and near infrared light therapy, nutrition, and lifestyle<br />
        plans that restore and cultivate optimal health and wellness for all ages<br />
        and cases including acute, maintenance, and injuries as a result of an auto accident.<br />
        We use NUCCA Chiropractic supplemented with corrective movement<br />
        therapy designed for your specific posture and muscle and joint dysfunction.
      </div>
    </div>
  </div>

  <div class="sub-nav no-margin mdc-layout-grid">
    <div class="no-gap mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <h2>Center</h2>
        Welcome<br />
        Our Mission & Vision<br />
        About Dr. Thoma
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <h2>Appointment</h2>
        New Paitent<br />
        What to expect<br />
        Patient Forms<br />
        Treatment Types
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <h2>Learn More</h2>
        Testimonials<br />
        Dr. Thoma’s Blog<br />
        Frequently Asked Questions
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <h2>Location</h2>
        8080 E Gelding Dr, Suite 102<br />
        Scottsdale, AZ 85260<br />
        (480) 656-6200<br />
        Map
      </div>
    </div>
  </div>

  <div class="treatments-header mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="treatments-header__copy">
          <h1>Treatments</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="treatments mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
        <div class="treatments__img">
          <img src="img/adjustment.png" alt="NUCCA Adjustments" />
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
        <div class="treatments__copy">
          <h2>NUCCA</h2>
          NUCCA chiropractic treatment involves a very light touch to the<br />
          first cervical vertebra (upper cervical spine) to realign the spine,<br />
          balance the spinal column and relieve stress and pain...<br />
          <button class="treatments__btn mdc-button--unelevated">
            <span class="mdc-button__label">READ MORE</span>
          </button>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
        <div class="treatments__img">
          <img src="img/sports.png" alt="Sports Physiotherapy" />
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
        <div class="treatments__copy">
          <h2>Sports Physiotherapy</h2>
          Dr. Thoma assesses spine and joint structure and function to<br />
          design a corrective therapy program that is custom to your<br />
          individual needs...<br />
          <button class="treatments__btn mdc-button--unelevated">
            <span class="mdc-button__label">READ MORE</span>
          </button>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
        <div class="treatments__img">
          <img src="img/functional.png" alt="Functional Medicine" />
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
        <div class="treatments__copy">
          <h2>Functional Medicine</h2>
          We seek to find out what is the underlying cause of the patient’s<br />
          health condition, as opposed to just treating the symptoms. By<br />
          running a multitude of tests...<br />
          <button class="treatments__btn mdc-button--unelevated">
            <span class="mdc-button__label">READ MORE</span>
          </button>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
        <div class="treatments__img">
          <img src="img/red-light.png" alt="Red/Near Infrared Therapy" />
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
        <div class="treatments__copy">
          <h2>Red/Near Infrared Therapy</h2>
          Our whole-body light therapy treatment called Photobiomodulation<br />
          therapy (PBM), is the application of red and near-infrared light to<br />
          body where there is degeneration or injury...<br />
          <button class="treatments__btn mdc-button--unelevated">
            <span class="mdc-button__label">READ MORE</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials-header mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="testimonials-header__copy">
          <h1>Testimonials</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <script type="text/javascript"> 
          var review_token = 'uxte1J82H2vgWAbiXjypx3VRQYUQFwvYoHsy9HQWbYlSE4USBY'; 
          var review_target = 'review-container'; 
        </script> 
        <script src="https://reviewsonmywebsite.com/js/embed.js?v=7" type="text/javascript"></script> 
        <div id="review-container"></div>
      </div>
    </div>
  </div>

  <div class="bullets mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <i class="fas fa-stop"></i>
          <i class="fas fa-stop"></i>
          <i class="fas fa-stop"></i>
      </div>
    </div>
  </div>

  <div class="testimonials-footer mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="testimonials-footer__copy">
          <h1>Set up your appointment today 480.656.6200</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-header mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="blog-header__copy">
          <h1>Dr. Thoma’s Blog</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-preview mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="blog-preview__post">
          <img src="img/breathing.png" alt="blog image" />
          <h2>Change Your Breathing,<br />Change Your Life</h2>
          <div>
            Breathing is the only bodily function<br />
            that we can perform with either our<br />
            subconscious or conscious mind. Because<br />
            of this, breathing is one of the<br />
            most powerful tools that yo...
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="blog-preview__post">
          <img src="img/knee.png" alt="blog image" />
          <h2>Gravel and Pain in your<br />Knee: Chrondromalacia</h2>
          <div>
            The long-term fix usually involves<br />
            assessing your feet, ankles, hips, and<br />
            other body parts to see where your<br />
            brain has control challenges. One example<br />
            of how a part of your...
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="blog-preview__post">
          <img src="img/elbow.png" width="360" alt="blog image" />
          <h2>Common Tissue Injury<br />and What to Do</h2>
          <div>
            Tendinopathy (disease of the tendon)<br />
            is by far our most common musculoskeletal<br />
            complaint we see. Typical areas<br />
            of tendinopathy include the heel,<br />
            knee, shoulder, and elbow...
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bullets mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <i class="fas fa-stop"></i>
          <i class="fas fa-stop"></i>
          <i class="fas fa-stop"></i>
      </div>
    </div>
  </div>

  <div class="footer-header call-to-action mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="call-to-action__copy">
          <h1>Call today for your personal consultation 480.656.6200</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="footer mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="footer__content">
          <h2>INFINITY SPINE CENTER</h2>
          In addition to chiropractic, therapies include<br />
          acupuncture, dry needling, corrective movement<br />
          therapy, red and near infrared light therapy, nutrition,<br />
          and lifestyle plans that restore and cultivate optimal<br />
          health and wellness for all ages and cases including<br />
          acute, maintenance, and injuries as a result of an<br />
          auto accident.
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="footer__content">
          <img src="img/dr-john-thoma.jpg" width="200" alt="Dr. John Thoma" />
          <div class="name">Dr. John Thoma</div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="footer__content">
          <h2>Contact Information</h2>
          Infinity Spine Center<br />
          8080 E Gelding Dr, Suite 102<br />
          Scottsdale, AZ 85260<br />
          (480) 656-6200<br />
          Email@EmailAddress.com<br />
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter-square"></i>
          <i class="fas fa-blog"></i>
          <i class="fas fa-at"></i>
        </div>
      </div>
    </div>
  </div>
  
  <div class="credits mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            credits:<br />
            <a href="http://www.onlinewebfonts.com">online web fonts</a>
        </div>
      </div>
    </div>

  <!-- JavaScripts -->
  <%= htmlWebpackPlugin.options.javascript %>
  <!-- <script src="js/infinity.js"></script> -->
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
  <!-- <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
</body>

</html>
