.hours {
  margin: 24px 0 0;
  &__day {
    min-width: 120px;
    font-weight: bold;
    letter-spacing: 2px;
    span {
      margin: 0 0 0 2px;
    }
  }
}

.name-fields {
  display: flex;
  margin: 0 0 24px;
}

#email-field {
  margin: 0 0 12px;
}

.mdc-text-field {
  width: 100%;
}
    
.mdc-checkbox {
  // variable names ($unmarked-stroke-color, $unmarked-fill-color, $marked-stroke-color, $marked-fill-color, $generate-keyframes)
  @include mdc-checkbox-container-colors($BLUE_DARK, white, $BLUE_DARK, white);
  @include mdc-checkbox-ink-color($BLUE_DARK);
}

.mdc-form-field {
  color: var(--mdc-theme-text-primary-on-background, $BLUE_DARK);
  margin: 0 0 12px;
}

.mdc-text-field {
  @include mdc-text-field-fill-color(white);
  @include mdc-text-field-ink-color($BLUE_DARK);
  @include mdc-text-field-label-color($BLUE_DARK);
  @include mdc-text-field-outline-color($BLUE_DARK);
  @include mdc-text-field-hover-outline-color($BLUE_DARK);
  @include mdc-text-field-textarea-stroke-color($BLUE_DARK);
  // width: 100%;
}

#message-field {
  margin: 0 0 24px;
}

.google-map {
  width: 100%;
}