.name-fields {
  display: flex;
  margin: 0 0 24px;
}

#email-field {
  margin: 0 0 12px;
}
    
.mdc-checkbox {
  // variable names ($unmarked-stroke-color, $unmarked-fill-color, $marked-stroke-color, $marked-fill-color, $generate-keyframes)
  @include mdc-checkbox-container-colors($BLUE_DARK, white, $BLUE_DARK, white);
  @include mdc-checkbox-ink-color($BLUE_DARK);
}

.mdc-form-field {
  color: var(--mdc-theme-text-primary-on-background, $BLUE_DARK);
  margin: 0 0 12px;
}

.mdc-text-field {
  @include mdc-text-field-fill-color(white);
  @include mdc-text-field-ink-color($BLUE_DARK);
  @include mdc-text-field-label-color($BLUE_DARK);
  @include mdc-text-field-outline-color($BLUE_DARK);
  @include mdc-text-field-hover-outline-color($BLUE_DARK);
  @include mdc-text-field-textarea-stroke-color($BLUE_DARK);
  width: 100%;
  &:first-child {
    margin: 0 24px 0 0;
  }
}

#message-field {
  margin: 0 0 24px;
}

.submit-btn {
  margin: 0 0 24px;
}
