// Global
body {
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
}

// over ride padding for all grids
.mdc-layout-grid {
  padding-top: 0px;
  padding-bottom: 0px;
}

// override padding for a grid
.no-margin {
  padding: 0;
}

// override cell margin for a grid
.no-gap {
  grid-gap: 0;
}

.a-link {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.vertical-rule {
  width: 1px;
  height: 15px;
  margin: 0 1em;
  border-left: 1px solid #000;
}

.horizontal-rule {
  height: 1px;
  margin: 1em 0;
  border-left: 1px solid #000;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

// common page components
.schedule {
  display: flex;
  flex-wrap: wrap;

  .hours {
    padding: 8px;
    min-width: 160px;
    height: 80px;
    font-size: 1rem;
    background: #3658a8;
    border: 1px solid white;
    border-width: 0 1px 1px 0;
    color: white;

    &__day {
      font-weight: bold;
    }

    &__time {
      font-size: .9rem;
    }

    &:nth-child(2n - 1) {
      background: #b3d4fc;
      color: #3658a8;
      font-weight: bold;
    }
  }
}
