@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";

.container {
  position: relative;
  min-height: 696px;
  opacity: 0;
}

.header {
  position: sticky;
  top: 0;
  background: white;
  padding: 0 72px;
  border-bottom: 1px solid $GREY_LIGHT;
  z-index: 1000;
  
  .mdc-layout-grid__cell {
    display: flex;
    align-items: center;
    &:nth-child(1) {
      margin: 16px 0;
    }
    
    &:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__logo {
    width: 332px;
    opacity: 0;
    
    a {
      text-decoration: none;
    }

    img {
      width: 70px;
    }

    &--mobile-nav {
      display: none;
    }

    &--copy {
      position: relative;
      top: 8px;
      color: $BLUE_DARK;
      font-family: "sportscenter", Arial, Helvetica, sans-serif;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}

.main-nav {
  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  opacity: 0;
  button {
    font-size: .8rem;
  }
}

.splash {
  position: relative;
  min-height: 696px;

  &__images {
    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    flex: none;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid $GREY_LIGHT;
    // border: 1px solid red;

    &--left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;

      .mdc-card {
        max-width: 450px;
        color: $BLUE_DARK;
        font-size: 1.5rem;

        .list-header {
          font-size: 1.25rem;
        }

        ul {
          font-size: 1rem;
        }
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 60%;
      // border: 1px solid red;

      .mdc-card {
        padding: 24px;
        max-width: 720px;
        color: $BLUE_DARK;
        font-size: 2.75rem;
        font-weight: 900;
        text-align: center;
      }

      .new-patient {
        height: inherit;
        padding: 12px 16px;
        border-radius: 5px;
        font-size: 1.5rem;
      }

      // &--social {
      //   position: absolute;
      //   top: 20%;
      //   left: 5%;
      //   display: flex;
      //   flex-direction: column;

      //   button {
      //     margin: 0 0 20px;
      //   }

      //   .fab, .fas {
      //     font-size: 2rem;
      //   }
      // }

      .mobile-call {
        position: absolute;
        bottom: -43px;
        left: calc(50% - 40px);
        height: 80px;
        width: 80px;
        background-color: $BLUE_DARK;
        border: none;
        border-radius: 50%;
        .fas {
          position: relative;
          top: 3px;
          color: white;
          font-size: 2.5rem;
        }
      }
    }
  }
}

.call-to-action {
  background: $BLUE_DARK;
  border-bottom: 1px solid $GREY_LIGHT;
  
  &__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    letter-spacing: 3px;
    font-family: "robotothin", Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
  }
}

.selling-points {
  padding-top: 96px;
  padding-bottom: 96px;
  border-bottom: 1px solid $GREY_LIGHT;

  .mdc-layout-grid__cell {
    position: relative;
    height: 268px;
    color: $BLUE_DARK;
    font-family: "robotothin", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

    &:nth-child(3) {
      & > div {
        bottom: 0;
      }
    }

    &:nth-child(4) {
      .selling-points__copy {
        bottom: auto;
      }
    }
  }

  img {
    width: 260px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  &__img {
    position: absolute;
    right: 96px;
    height: 260px;
    width: 260px;
  }

  &__copy {
    position: absolute;
    bottom: 0;
    max-width: 620px;
    margin: 0 24px 0 0;
  }
}

.sub-nav {
  &__links {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  &__map {
    width: 100%;
    height: 200px;
  }

  .mdc-layout-grid__cell {
    padding: 24px 24px 32px 40px;
    color: white;

    h2 {
      margin: 0 0 24px;
    }

    &:nth-child(2n - 1) {
      background: $BLUE_MEDIUM;
    }
    
    &:nth-child(2n) {
      background: $GREY_LIGHT;
    }
  }
}

// .call-to-action
// TODO: use .call-to-action
.treatments-header {
  position: relative;
  background: $BLUE_DARK;
  border-bottom: 1px solid $GREY_LIGHT;

  &__anchor {
    position: absolute;
    top: -86px;
  }

  &__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    letter-spacing: 3px;
    font-family: "robotothin", Arial, Helvetica, sans-serif;
  }
}

.treatments {
  padding: 48px 0;
  background-color: #fff;

  .mdc-button--unelevated:not(:disabled) {
    background-color: var(--mdc-theme-primary, $BLUE_MEDIUM);
  }

  .mdc-layout-grid__cell {
    position: relative;
    display: flex;
    align-items: center;
    height: 240px;
    color: $BLUE_DARK;
    font-family: "robotothin", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
  }

  &__img {
    position: absolute;
    right: 48px;
  }

  &__copy {
    margin: 0 24px 0 0;
    max-width: 620px;
  }

  img {
    width: 300px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  &__btn {
    padding: 16px 24px;
    margin: 16px 0 0;
    cursor: pointer;
    font-family: "robotoregular", Arial, Helvetica, sans-serif;
    font-size: .75rem;
    outline: none;
  }
}

// call to action
.testimonials-header {
  position: relative;
  background: $BLUE_DARK;
  border-bottom: 1px solid $GREY_LIGHT;

  &__anchor {
    position: absolute;
    top: -86px;
  }

  &__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    letter-spacing: 3px;
    font-family: "robotothin", Arial, Helvetica, sans-serif;
  }
}

.testimonials {
  padding: 72px 96px 24px;

  .mdc-button--unelevated:not(:disabled) {
    background-color: var(--mdc-theme-primary, $BLUE_MEDIUM);
  }

  &__btn {
    text-align: center;
    button {
      padding: 16px 24px;
      margin: 40px 0 0;
      cursor: pointer;
      font-family: "robotoregular", Arial, Helvetica, sans-serif;
      font-size: .75rem;
      &:focus {
        outline: none;
      }
    }
  }
}

// call to action
// TODO: use .call-to-action
.testimonials-footer {
  background: white;
  border-bottom: 1px solid $GREY_LIGHT;

  &__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: $BLUE_DARK;
    letter-spacing: 3px;
    font-family: "robotothin", Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
  }
}

// Blog
.articles-header {
  position: relative;
  background: $GREY_LIGHT;
  border-bottom: 1px solid $GREY_LIGHT;

  &__anchor {
    position: absolute;
    top: -86px;
  }

  &__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
    letter-spacing: 3px;
    font-family: "robotothin", Arial, Helvetica, sans-serif;
  }
}

.articles-preview {
  padding: 96px 0 48px;

  .mdc-button--unelevated:not(:disabled) {
    background-color: var(--mdc-theme-primary, $BLUE_MEDIUM);
  }

  .mdc-layout-grid__cell {
    position: relative;
    color: $BLUE_DARK;
    font-family: "robotothin", Arial, Helvetica, sans-serif;
    font-size: 1.175rem;
    
    &:nth-child(1) {
      display: flex;
      justify-content: flex-end;
    }
    &:nth-child(2) {
      display: flex;
      justify-content: center;
    }
    &:nth-child(3) {
      display: flex;
      justify-content: flex-start;
    }
  }

  .articles-preview-image {
    max-width: 360px;
    height: 190px;
    overflow: hidden;
  }

  img {
    width: 100%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  h2 {
    margin: 24px 0;
    min-height: 80px;
  }

  &__post {
    width: 360px;
  }

  &__excerpt {
    min-height: 300px;
  }

  &__btn {
    text-align: center;
    button {
      padding: 16px 24px;
      cursor: pointer;
      font-family: "robotoregular", Arial, Helvetica, sans-serif;
      font-size: .75rem;
      outline: none;
    }
  }
}

.bullets {
  padding: 24px 0;
  font-size: .5rem;
  text-align: center;
  color: $BLUE_MEDIUM;

  .fa-stop {
    &:nth-child(2) {
      margin: 10px;
    }
  }
}

.footer-header {
  background-color: $BLUE_MEDIUM;
  border: none;
}

.footer {
  padding: 72px 48px 96px;
  background-color: $BLUE_DARK;
  color: white;
  font-family: "robotothin", Arial, Helvetica, sans-serif;

  .mdc-layout-grid__cell {
    display: flex;
    justify-content: center;
    line-height: 2;

    .fab {
      margin: 10px 5px 0 0;
      font-size: 1.5rem;
    }

    .fas {
      position: relative;
      top: -2px;
      margin: 10px 5px 0 0;
      font-size: 1.25rem;
    }

    &:nth-child(1) {
      h2 {
        position: relative;
        top: 15px;
        font-family: "sportscenter", Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        letter-spacing: 4px;
      }

      .footer__content--copy {
        position: relative;
        top: 13px;
        padding: 0 48px 0 0;
      }
    }

    &:nth-child(2) {
      display: flex;
      margin: 24px 0 0;
      align-items: center;
      
      .name {
        text-align: center;
      }
    }

    &:nth-child(3) {
      h2 {
        letter-spacing: 4px;
      }
    }
  }
}

.mobile-nav {
  position: fixed;
  top: 142px;
  left: 0;
  background: white;
  border-right: 1px solid #ccc;
  .mdc-button {
    display: flex;
    justify-content: flex-start;
    height: 70px;
    width: 100%;
    padding: 0 24px;
    font-size: 1.25rem;
  }
  .horizontal-rule{
    height: 0;
    width: 100%;
    margin: 0;
    border-left: 1px solid #ccc;
  }
}
