@media (max-width: 1279px) and (min-width: 1024px) {
  // body { border: 1px dashed green; }
  .header {
    padding: 0 48px;
    &__logo {
      // img {
      //   width: 102px;
      // }
      &--copy {
        font-size: 1.1rem;
      }
    }
  }
  .vertical-rule {
    margin: 0 .5em;
  }
}

@media (max-width: 1260px) and (min-width: 1024px) {
  .splash {
    &__content {
      &--left {
        padding: 24px;
        .mdc-card {
          font-size: 1.25rem;
        }
      }
      &--right {
        .mdc-card {
          padding: 48px;
          font-size: 2rem;
        }
      }
    }
  }

  .articles-preview {
    // padding: 48px 0 0;
    &__post {
      width: 280px;
    }
    
    // .mdc-layout-grid__cell {
      
    //   &:nth-child(1) {
    //     justify-content: flex-end;
    //   }
    //   &:nth-child(2) {
    //     justify-content: flex-start;
    //   }
    //   &:nth-child(3) {
    //     justify-content: flex-end;
    //   }
    // }
  }
}

@media (max-width: 1023px) and (min-width: 864px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  .vertical-rule {
    margin: 0 .5em;
  }

  .header {
    padding: 0 48px;

    .mdc-layout-grid__cell {
      &:nth-child(2) {
        justify-content: center;
        margin-bottom: 24px;
      }
    }

    &__logo {
      img {
        width: 102px;
      }
      &--copy {
        font-size: 1.1rem;
      }
    }
    .main-nav {
      top: 0;
    }
  }

  .splash {
    &__content {
      &--left {
        padding: 0 36px;
        .mdc-card {
          // padding: 48px 0 0;
          font-size: .85rem;
        }
      }
      &--right {
        .mdc-card {
          padding: 48px;
          font-size: 1.8rem;
        }
      }

      .mobile-call {
        bottom: -33px;
        height: 60px;
        width: 60px;
        .fas {
          font-size: 2rem;
        }
      }
    }
  }

  .call-to-action {
    &__copy {
      line-height: 1.75;
      h1 {
        text-align: center;
      }
    }
  }

  .selling-points {
    &__img {
      right: 24px;
    }
  }

  .sub-nav {
    .mdc-layout-grid__cell {
      padding: 16px 16px 24px 32px;

      &:nth-child(4) {
        font-size: .75rem;
      }
    }
  }

  .treatments {
    padding: 40px 40px 0;
    &__img {
      right: 24px;
    }
  }

  .articles-preview {
    padding: 48px 0 0;

    .mdc-layout-grid__cell {
      
      &:nth-child(1) {
        justify-content: flex-end;
      }
      &:nth-child(2) {
        justify-content: flex-start;
      }
      &:nth-child(3) {
        justify-content: flex-end;
      }
    }
  }

  .footer {
    .mdc-layout-grid__cell {
      &:nth-child(1) {
        h2 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 863px) and (min-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  .vertical-rule {
    margin: 0 .5em;
  }

  .header {
    padding: 24px 48px;

    .mdc-layout-grid__cell {
      &:nth-child(2) {
        display: none;
      }
    }

    &__logo {
      display: flex;
      width: auto;
      
      .mdc-fab {
        border-radius: 5px;
        margin-right: 32px;
        font-size: 2rem;
      }

      &--mobile-nav {
        display: block;
      }

      img {
        width: 102px;
      }

      &--copy {
        font-size: 1.1rem;
      }
    }
  }

  .splash {
    &__images {
      height: 500px;
    }

    &__content {
      flex-wrap: wrap;

      &--left {
        padding: 0 36px;
        width: 100%;
        .mdc-card {
          // padding: 48px 0 0;
          font-size: .85rem;
        }
      }

      &--right {
        // display: none;
        width: 100%;
        .mdc-card {
          display: none;
          padding: 48px;
          font-size: 1.8rem;
        }
      }

      .mobile-call {
        bottom: -33px;
        height: 60px;
        width: 60px;
        .fas {
          font-size: 2rem;
        }
      }
      // .mdc-card {
      //   display: none;
      // }

      .new-patient {
        position: relative;
        top: -30px;
        justify-content: flex-end;
      }

      // &--social {
      //   left: 10%;
      //   right: 10%;
      //   flex-direction: row;
      //   justify-content: space-between;

      //   button {
      //     margin: 0;
      //   }
      // }
    }
  }

  .call-to-action {
    &__copy {
      text-align: center;
      h1 {
        font-size: 1.7rem;
      }
    }
  }

  .selling-points {
    padding-top: 48px;
    padding-bottom: 48px;

    .mdc-layout-grid__inner {
      grid-gap: 0;
    }

    .mdc-layout-grid__cell {
      display: flex;
      justify-content: center;

      &:nth-child(1) {
        height: 360px;
      }

      &:nth-child(2) {
        height: auto;
        padding: 16px 32px;
      }

      &:nth-child(3) {
        display: none;
      }

      &:nth-child(4) {
        height: auto;
        padding: 0 32px;
      }
    }

    img {
      width: 360px;
    }

    &__img {
      position: static;
      height: 360px;
      width: 100%;
      text-align: center;
    }

    &__copy {
      position: static;
      bottom: inherit;
      max-width: 360px;
      margin: 0;
    }
  }
  
  .sub-nav {
    .mdc-layout-grid__cell {
      &:nth-child(2) {
        background: $GREY_LIGHT;
      }

      &:nth-child(3) {
        background: $GREY_LIGHT;
      }
      
      &:nth-child(4) {
        background: $BLUE_MEDIUM;
      }
    }
  }

  .treatments {
    display: flex;
    justify-content: center;

    .mdc-layout-grid__cell {
      height: inherit;
      &:nth-child(2n+2) {
        margin: 0 0 48px;
      }
      &:nth-child(8) {
        margin: 0;
      }
    }

    &__img {
      position: static;
      right: inherit;
    }

    &__copy {
      width: 360px;
      margin: 0;
    }

    img {
      width: 360px;
    }
  }

  .testimonials {
    padding-right: 60px;
    padding-left: 60px;
  }

  .testimonials-footer {
    &__copy {
      padding: 0 32px;
      text-align: center;
      h1 {
        font-size: 1.7rem;
      }
    }
  }

  .articles-preview {
    padding: 48px 0 0;

    .mdc-layout-grid__cell {
      &:nth-child(1) {
        justify-content: center;
      }

      &:nth-child(2) {
        padding: 48px 0;
      }

      &:nth-child(3) {
        justify-content: center;
      }
    }

    h2 {
      margin: 24px 0 0;
    }
  }

  .footer {
    .mdc-layout-grid__cell {
      &:nth-child(2) {
        padding: 48px;
      }

      .fab {
        margin-right: 16px;
        font-size: 3.5rem;
      }
      .fas {
        margin-right: 16px;
        font-size: 3rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  .vertical-rule {
    margin: 0 .5em;
  }

  .header {
    padding: 8px 24px;

    .mdc-layout-grid__cell {
      &:nth-child(2) {
        display: none;
      }
    }

    &__logo {
      display: flex;
      width: auto;
      
      .mdc-fab {
        border-radius: 5px;
        margin-right: 24px;
        font-size: 1.7rem;
        height: 45px;
        width: 45px;
      }

      &--mobile-nav {
        display: block;
      }

      img {
        width: 70px;
      }

      &--copy {
        font-size: .75rem;
      }
    }
  }

  .splash {
    &__images {
      height: 650px;
    }

    &__content {
      flex-wrap: wrap;
      // .mdc-card {
      //   display: none;
      // }

      &--left {
        padding: 0 36px;
        width: 100%;
        .mdc-card {
          // padding: 48px 0 0;
          font-size: .85rem;
        }
      }

      &--right {
        // display: none;
        width: 100%;
        .mdc-card {
          display: none;
          padding: 48px;
          font-size: 1.8rem;
        }
      }

      .new-patient {
        position: relative;
        top: -30px;
        padding: 6px 16px;
        font-size: 1.25rem;
        // justify-content: flex-end;
      }

      // .new-patient {
      //   position: relative;
      //   top: 25px;
      //   justify-content: flex-end;
      //   padding: 8px 16px 8px 8px;
      //   font-size: 1.2rem;

      //   .fab {
      //     display: none;
      //   }
      // }

      // &--social {
      //   top: 10%;
      //   left: 5%;
      //   right: 5%;
      //   flex-direction: row;
      //   justify-content: space-between;

      //   button {
      //     margin: 0;
      //   }

      //   .mdc-fab {
      //     height: 48px;
      //     width: 48px;
      //   }

      //   .fab, .fas {
      //     font-size: 1.7rem;
      //   }
      // }

      .article-title {
        h1 {
          max-width: 600px;
          padding: 0 20px;
          font-size: 1.35rem;
        }
      }

      .mobile-call {
        bottom: -33px;
        height: 60px;
        width: 60px;
        .fas {
          top: 0;
          font-size: 2rem;
        }
      }
    }
  }

  .call-to-action {
    &__copy {
      height: 125px;
      text-align: center;
      h1 {
        font-size: 1.25rem;
      }
    }
  }

  .selling-points {
    padding-top: 48px;
    padding-bottom: 48px;

    .mdc-layout-grid__inner {
      grid-gap: 0;
    }

    .mdc-layout-grid__cell {
      display: flex;
      justify-content: center;

      &:nth-child(1) {
        height: 260px;
      }

      &:nth-child(2) {
        height: auto;
        padding: 16px 0;
      }

      &:nth-child(3) {
        display: none;
      }

      &:nth-child(4) {
        height: auto;
        padding: 0;
      }
    }

    img {
      width: 260px;
    }

    &__img {
      position: static;
      width: 100%;
      text-align: center;
    }

    &__copy {
      position: static;
      bottom: inherit;
      max-width: 260px;
      margin: 0;
    }
  }

  .treatments {
    display: flex;
    justify-content: center;

    .mdc-layout-grid__cell {
      height: inherit;
      &:nth-child(2n+2) {
        margin: 0 0 48px;
      }
      &:nth-child(8) {
        margin: 0;
      }
    }

    &__img {
      position: static;
      right: inherit;
    }

    &__copy {
      width: 280px;
      margin: 0;
    }

    img {
      width: 280px;
    }
  }

  .testimonials {
    padding-right: 20px;
    padding-left: 20px;
  }

  .testimonials-footer {
    &__copy {
      padding: 0 32px;
      text-align: center;
      h1 {
        font-size: 1.35rem;
      }
    }
  }

  .articles-header {
    &__copy {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .articles-preview {
    padding: 48px 0 0;

    .mdc-layout-grid__cell {
      margin: 0 0 24px;

      &:nth-child(1) {
        justify-content: center;
      }
      &:nth-child(2) {
        justify-content: center;
      }
      &:nth-child(3) {
        justify-content: center;
        margin: 0;
      }
    }

    h2 {
      margin: 24px 0 0;
    }

    &__post {
      width: 260px;
    }
  }

  .footer {
    padding: 48px 16px;

    .mdc-layout-grid__cell {
      line-height: 1.5;

      &:nth-child(2) {
        padding: 24px;
      }

      .fab {
        margin-right: 11px;
        font-size: 3rem;
      }
      .fas {
        margin-right: 11px;
        font-size: 2.75rem;
        &:last-child {
          margin-right: 0;
        }
      }

      &:nth-child(1) {
        h2 {
          top: 0;
          font-size: .75rem;
        }
  
        .footer__content--copy {
          position: relative;
          top: 13px;
          padding: 0;
        }
      }
    } 
  }

  .mobile-nav {
    top: 110px;
    width: inherit;
    .mdc-button {
      display: flex;
      justify-content: flex-start;
      height: 60px;
      width: 100%;
      padding: 0 16px;
      font-size: 1rem;
    }
  }
}