@media (max-width: 1279px) and (min-width: 1024px) {
  body { border: 1px dashed green; }
  .header {
    padding: 0 48px;
    &__logo {
      img {
        width: 102px;
      }
      &--copy {
        font-size: 1.1rem;
      }
    }
  }
  .vertical-rule {
    margin: 0 .5em;
  }
}

@media (max-width: 1023px) and (min-width: 864px) {
  body { border: 1px dashed red; }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  .vertical-rule {
    margin: 0 .5em;
  }

  .header {
    padding: 0 48px;

    .mdc-layout-grid__cell {
      &:nth-child(2) {
        justify-content: center;
        margin-bottom: 24px;
      }
    }

    &__logo {
      img {
        width: 102px;
      }
      &--copy {
        font-size: 1.1rem;
      }
    }
    .main-nav {
      top: 0;
    }
  }

  .splash {
    &__content {
      .mdc-card {
        width: 680px;
        font-size: 1.8rem;
      }

      .mobile-call {
        bottom: -33px;
        height: 60px;
        width: 60px;
        .fas {
          font-size: 2rem;
        }
      }
    }
  }

  .call-to-action {
    &__copy {
      line-height: 1.75;
      h1 {
        text-align: center;
      }
    }
  }

  .selling-points {
    &__img {
      right: 24px;
    }
  }

  .sub-nav {
    .mdc-layout-grid__cell {
      padding: 16px 16px 24px 32px;

      &:nth-child(4) {
        font-size: .75rem;
        border: 1px solid red;
      }
    }
  }

  .treatments {
    &__img {
      right: 24px;
    }
  }

  .blog-preview {
    .mdc-layout-grid__cell {
      
      &:nth-child(1) {
        justify-content: flex-end;
      }
      &:nth-child(2) {
        justify-content: flex-start;
      }
      &:nth-child(3) {
        justify-content: flex-end;
      }
    }
  }

  .footer {
    .mdc-layout-grid__cell {
      &:nth-child(1) {
        h2 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 863px) and (min-width: 480px) {
  body { border: 1px dashed blue; }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  .vertical-rule {
    margin: 0 .5em;
  }

  .header {
    padding: 24px 48px;

    .mdc-layout-grid__cell {
      &:nth-child(2) {
        display: none;
      }
    }

    &__logo {
      display: flex;
      width: auto;
      
      .mdc-fab {
        border-radius: 5px;
        margin-right: 32px;
        font-size: 2rem;
      }

      &--mobile-nav {
        display: block;
      }

      img {
        width: 102px;
      }

      &--copy {
        font-size: 1.1rem;
      }
    }

    .main-nav {
      top: 0;
    }
  }

  .splash {
    height: 310px; // remove allow image to define height

    &__content {
      .mdc-card {
        display: none;
      }

      .new-patient {
        position: relative;
        top: 50px;
        justify-content: flex-end;
      }

      &--social {
        left: 10%;
        right: 10%;
        flex-direction: row;
        justify-content: space-between;

        button {
          margin: 0;
        }
      }
    }
  }

  .call-to-action {
    &__copy {
      text-align: center;
      h1 {
        font-size: 1.7rem;
      }
    }
  }

  .selling-points {
    padding-top: 48px;
    padding-bottom: 48px;

    .mdc-layout-grid__inner {
      grid-gap: 0;
    }

    .mdc-layout-grid__cell {
      display: flex;
      justify-content: center;

      &:nth-child(1) {
        height: 360px;
      }

      &:nth-child(2) {
        height: auto;
        padding: 16px 32px;
      }

      &:nth-child(3) {
        display: none;
      }

      &:nth-child(4) {
        height: auto;
        padding: 0 32px;
      }
    }

    img {
      width: 360px;
    }

    &__img {
      position: static;
      height: 360px;
      width: 100%;
      text-align: center;
    }

    &__copy {
      position: static;
      bottom: inherit;
      max-width: 360px;
      margin: 0;
    }
  }
  
  .sub-nav {
    .mdc-layout-grid__cell {
      &:nth-child(2) {
        background: $GREY_LIGHT;
      }

      &:nth-child(3) {
        background: $GREY_LIGHT;
      }
      
      &:nth-child(4) {
        background: $BLUE_MEDIUM;
      }
    }
  }

  .treatments {
    display: flex;
    justify-content: center;

    .mdc-layout-grid__cell {
      height: inherit;
      &:nth-child(2n+2) {
        margin: 0 0 48px;
      }
      &:nth-child(8) {
        margin: 0;
      }
    }

    &__img {
      position: static;
      right: inherit;
    }

    &__copy {
      width: 360px;
      margin: 0;
    }

    img {
      width: 360px;
    }
  }

  .testimonials {
    padding-right: 60px;
    padding-left: 60px;
  }

  .testimonials-footer {
    &__copy {
      padding: 0 32px;
      text-align: center;
      h1 {
        font-size: 1.7rem;
      }
    }
  }

  .blog-preview {
    .mdc-layout-grid__cell {
      &:nth-child(1) {
        justify-content: center;
      }

      &:nth-child(2) {
        padding: 48px 0;
      }

      &:nth-child(3) {
        justify-content: center;
      }
    }

    h2 {
      margin: 24px 0 0;
    }
  }

  .footer {
    .mdc-layout-grid__cell {
      &:nth-child(2) {
        padding: 48px;
      }

      .fab {
        margin-right: 16px;
        font-size: 3.5rem;
      }
      .fas {
        margin-right: 16px;
        font-size: 3rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .vertical-rule {
    margin: 0 .5em;
  }
}